[phases.setup]
nixPkgs = ["nodejs_20", "python311", "python311Packages.pip"]

[phases.install]
cmds = [
  "npm install",
  "python3 -m pip install --upgrade pip setuptools wheel",
  "python3 -m pip install edge-tts --break-system-packages --timeout=300"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run start"

