[phases.setup]
nixPkgs = ["nodejs_20", "python311", "python311Packages.pip", "python311Packages.setuptools"]

[phases.install]
cmds = [
  "npm install",
  "python3.11 -m pip install --upgrade pip setuptools wheel --break-system-packages --user",
  "python3.11 -m pip install edge-tts --break-system-packages --user"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run start"

