[phases.setup]
nixPkgs = ["nodejs_20", "python311", "python311Packages.pip"]

[phases.install]
cmds = [
  "npm install",
  "pip install --upgrade pip --break-system-packages",
  "pip install edge-tts --break-system-packages"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm run start"

